onnxruntime==1.17.0
transformers==4.37.2
torch==2.2.0
typing_extensions==4.9.0
jinja2==3.1.2
sympy==1.12
filelock==3.12.2
fsspec==2023.6.0
networkx==3.2.1
safetensors==0.4.2
regex==2022.10.31
packaging==23.1
numpy==1.24.3
tokenizers==0.15.1
pyyaml==6.0
requests==2.28.2
tqdm==4.64.0
huggingface-hub==0.20.3
coloredlogs==15.0.1
flatbuffers==23.5.26
protobuf==3.12.4
GitPython==3.1.31
PyGithub==1.55
PyDriller==2.6
nltk==3.6.2
